# copy this file to .env and replace values

APP_ENV=development

# RPC URL is optional and will be used for all networks, so if the network changes, the RPC URL must be updated here
RPC_URL=https://rinkeby.infura.io/v3/xxxxxxx
FORKING_RPC_URL=

INFURA_PROJECT_ID=

# this is the default chain id used in the frontend
CHAIN_ID=1

# Add this for the getCirculatingSupply API
ETHERSCAN_API_KEY=

# Defines if the deploy script uses a specific blocknumber. Previously we used 15003526 but for testing the sweetVaults this should stay empty to use the current block
DEPLOYMENT_BLOCK_NUMBER=


# Grant variables

# Make a free Pinata account to get these env variable keys
PINATA_API_SECRET=
PINATA_API_KEY=
NEXT_PUBLIC_PINATA_BEARER=

IPFS_GATEWAY_PIN=https://api.pinata.cloud/pinning/pinFileToIPFS
IPFS_URL=https://gateway.pinata.cloud/ipfs/