node_modules
.DS_Store
.next
.env
.environment
.env.local
.env.rinkeby
.env.mainnet
.env.localhost
.env.local
dist
tsconfig.tsbuildinfo
yarn-error.log
.openzeppelin
!.openzeppelin/goerli*.json
!.openzeppelin/rinkeby*.json
!.openzeppelin/mainnet*.json
packages/hardhat/artifacts
packages/hardhat/artifacts-ovm
packages/hardhat/cache
packages/hardhat/cache-ovm
**/.DS_Store
.vercel
