/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
}

html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
:root {
  --onboard-modal-z-index: 50;
}

@layer base {
  @font-face {
    font-family: "KH Teka";
    font-weight: 400;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Regular.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 200;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Light.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 500;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Medium.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 700;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 900;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Black.woff) format("woff");
  }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    outline-offset: 0px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: transparent;
  }
}

@layer components {
  .button {
    @apply flex-shrink-0 block px-3 py-1 font-medium rounded-full border border-transparent text-base align-middle text-center leading-button shadow-sm;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button:disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-primary {
    @apply bg-blue-600 text-white;
  }

  .button-seconday {
    @apply bg-blue-200 text-blue-700  transition duration-150 ease-in-out;
  }

  .button-primary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-blue-500;
  }

  .button-primary:hover {
    @apply bg-blue-700;
  }

  .button-secondary {
    @apply bg-blue-200 text-blue-700  transition duration-150 ease-in-out;
  }

  .button-secondary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-blue-500;
  }

  .button-secondary:hover {
    @apply bg-blue-300 font-bold shadow-md transform scale-101;
  }

  .page-title {
    @apply text-3xl md:text-4xl font-semibold;
  }

  .secondary-title {
    @apply text-2xl md:text-3xl font-medium;
  }

  .subtitle {
    @apply text-lg text-gray-500;
  }

  .card {
    @apply bg-white rounded-3xl border border-gray-200 shadow-custom cursor-pointer transform transition duration-150 ease-in-out hover:scale-101;
  }
}

@layer utilities {
  .word-spacing-full {
    word-spacing: 100vw;
  }
  .word-spacing-normal {
    word-spacing: normal;
  }
}

.button-custom {
  /* border-radius: 0.25rem; */
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  /* color: white; */
  /* font-weight: 600; */
  /* box-shadow: 0px 2px 8px -3px black; */
}

.gray-color {
  /* background-color: #e5e7eb; */
  border-color: #636363;
  color: #636363;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}

.__react_component_tooltip {
  pointer-events: auto !important;
  border-radius: 0.5rem;
  background-color: "#c4c4c4";
  font-weight: 400;
  line-height: 20px;
}

.scrollable__select {
  height: 200px;
}

.scrollable__select::-webkit-scrollbar,
.scrollable__select::-webkit-scrollbar-thumb {
  width: 27px;
  border-radius: 13.5px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.scrollable__select::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.scrollable__select:hover {
  color: #d9d9d9;
}

.scrollable__select {
  color: #d9d9d9;
}

.wheelPicker ul {
  border: 1px solid #e5e7eb;
  box-shadow: inset 0px -4px 11px rgba(0, 0, 0, 0.1), inset 0px 4px 11px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
}
.wheelPicker li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  margin: 5px 0px;
}
.wheelPicker li p {
  font-weight: 600;
  font-size: 18px !important;
}
.wheelPicker li span {
  display: none;
}
.wheelPicker li[aria-selected="true"] {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding-left: 0px;
  border: 2px solid #000000;
}

.custom-wheel__picker li[aria-selected="true"] {
  border-color: transparent !important;
}

.wheelPicker li[aria-selected="true"] span:nth-child(2) {
  display: block;
  background-color: #50c56e;
  border-radius: 50%;
  height: 8px;
  width: 8px !important;
  content: "";
  position: absolute;
  left: 40%;
}

.__react_component_tooltip {
  padding: 18px 24px !important;
}
.rc-tooltip {
  opacity: 100% !important;
}
.rc-tooltip-inner {
  background-color: rgba(255, 255, 255, 0.95) !important;
  border: 1px solid #d7d5bc !important;
  box-shadow: 0px 4px 14px rgba(101, 135, 169, 0.16) !important;
  border-radius: 8px !important;
  padding: 16px !important;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  border-bottom-color: #d7d5bc !important;
  border-width: 0 8px 8px !important;
  top: 2px !important;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  border-top-color: #d7d5bc !important;
  border-width: 8px 8px 0px !important;
  bottom: 2px !important;
}
.spinner {
  margin: auto;
  border: 2px solid #fff8ee;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-right: 2px solid #fee25d;
  text-align: center;
  animation-name: spin;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

img {
  max-width: none;
}

/* wheel picker css */
.custom-wheelpicker {
  height: 400px;
  border: 1px solid #e5e7eb;
  box-shadow: inset 0px -4px 11px rgb(0 0 0 / 10%), inset 0px 4px 11px rgb(0 0 0 / 10%) !important;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  will-change: transform;
  text-align: center;
  padding: 0 20px;
  background-color: #fff;
}

.wheelPicker ul::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wheelPicker ul {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

@media screen and (max-width: 320px) {
  .wheelPicker li[aria-selected="true"] span:nth-child(2) {
    left: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wheelPicker li[aria-selected="true"] span:nth-child(2) {
    left: 15%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

.rc-tooltip.rc-tooltip-zoom-appear,
.rc-tooltip.rc-tooltip-zoom-enter {
  opacity: 0;
}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  animation-name: rcToolTipZoomIn;
  animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  animation-name: rcToolTipZoomOut;
  animation-play-state: running;
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*        COPIED RC-TOOLTIP CSS FOR COMPATIBILITY          */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 9px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 9px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 9px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 9px 0 5px;
}
.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  min-height: 34px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*        COPIED RC-SLIDER CSS FOR COMPATIBILITY           */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}
.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  touch-action: pan-x;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
}
.rc-slider-handle:focus {
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border-color: #96dbfa;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-dot-reverse {
  margin-right: -4px;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}
